* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

header {
	text-align: center;
	h1 {
		font-size: 36px;
		text-align: center;
		color: orange;
	}
	input[type="text"]{
		font-size: 18px;
		padding: 5px 10px;
	}
}